<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset= "utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- jQuery include -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <!-- Script for Website -->
        <script type="text/javascript">
        $(document).ready(function() {
            $("#typeFilter").change(function() {
                $(".lastEvents > .card").each(function() {
                    if ($(this).data("type") == $("#typeFilter").val() || $("#typeFilter").val() == "all") {
                        $(this).show(500);
                    } else {
                        $(this).hide(500)
                    }
                });
            })
        });
        </script>

        <title>Eventplanungssystem</title>
    </head>
    <body>

        <!-- Site Container -->
        <div class="container">

            <!-- Searchbar and Add_Event_Button -->
            <div class="row pt-5 pb-5">

                <!-- Searchbar -->
                <div class="col-8">
                    <form action="/search" method="get">
                        <input class="form-control form-control-lg bg-light"
                               type="search" name="q" id="query"
                               placeholder="Suchen...">
                    </form>
                </div>

                <!-- Add_Event_Button -->
                <div class="col-4 text-right">
                    <button class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='/add';">
                        Event hinzufügen
                    </button>
                </div>
            </div>

            <!-- Last and Top Events -->
            <div class="row ">

                <!-- Top Events -->
                <div class="col-md-4 order-md-2">
                    <h2 class="pb-2">Top Events</h2>

                    <!-- Container for Events -->
                    <div class="cardContainer mt-4 mb-4">
                        <div th:each="topEvent, itemStat : ${topEvents}" th:data-type="${topEvent.type}" th:data-id="${topEvent.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4 th:text="'# ' + ${itemStat.index + 1}" class="text-danger"></h4>
                                    <h5 th:text="${#strings.abbreviate(topEvent.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(topEvent.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(topEvent.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Last Events -->
                <div class="col-md-8 order-md-1">
                    <h2 class="pb-2">Zuletzt hinzugefügt</h2>

                    <!-- Filter for last Events -->
                    <select class="form-control" id="typeFilter" name="filter">
                        <option value="all">Alle</option>

                        <!-- "add_event.html fragment" -> model attributename must be "types" -->
                        <option th:replace="add_event.html :: typeOptions" value=""></option>
                    </select>

                    <!-- Container fragment for events -->
                    <div th:fragment="eventContainer" class="cardContainer lastEvents mt-4 mb-4">
                        <div th:each="event : ${events}" th:data-type="${event.type}" th:data-id="${event.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <th:block th:each="topEvent, itemStat : ${topEvents}">
                                        <h4 th:if="${topEvent.name == event.name}" th:text="'# ' + ${itemStat.index + 1}" class="text-danger"></h4>
                                    </th:block>
                                    <h5 th:text="${#strings.abbreviate(event.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(event.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
