<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Reference: https://getbootstrap.com/docs/4.0/examples/sticky-footer/ -->
        <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
        </style>

        <!-- jQuery, PopperJS and BootstrapJS include -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- Script for Website -->
        <script type="text/javascript">
        $(document).ready(function() {
            $("#typeFilter").change(function() {
                $(".lastEvents > .card").each(function() {
                    if ($(this).data("type") == $("#typeFilter").val() || $("#typeFilter").val() == "all") {
                        $(this).show(500);
                    } else {
                        $(this).hide(500)
                    }
                });
            })
        });
        </script>

        <title>Eventplanungssystem</title>
    </head>
    <body>

        <!-- Site Container -->
        <div class="container">

            <!-- Searchbar and Add_Event_Button -->
            <div class="row pt-5 pb-5">

                <!-- Searchbar -->
                <div class="col-8">
                    <form action="/search" method="get">
                        <input class="form-control form-control-lg bg-light" type="search" name="q" id="query" placeholder="Suchen...">
                    </form>
                </div>

                <!-- Add_Event_Button -->
                <div class="col-2 col-md-4 pr-1 pr-md-3">
                    <button class="btn btn-primary btn-block btn-lg px-1" type="button" onclick="location.href='/add';">
                        <div class="d-none d-md-block">
                            Event hinzufügen
                        </div>
                        <div class="d-md-none">
                            +
                        </div>
                    </button>
                </div>

                <div th:fragment="copyrightModal" class="col-2 d-md-none pl-1">
                    <button class="btn btn-primary btn-block btn-lg px-1" type="button" data-toggle="modal" data-target="#copyrightInfo">
                        &#9432;
                    </button>
                    <div class="modal fade" id="copyrightInfo">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Copyrightinformation</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Copyright Gruppe 3, All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Last and Top Events -->
            <div class="row mb-5">

                <!-- Top Events -->
                <div class="col-md-4 order-md-2">
                    <h2 class="pb-2">Top Events</h2>

                    <!-- Container for Events -->
                    <div class="cardContainer mt-4 mb-4">
                        <div th:each="topEvent, itemStat : ${topEvents}" th:data-type="${topEvent.type}" th:data-id="${topEvent.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4 th:text="'# ' + ${itemStat.index + 1}" class="text-danger"></h4>
                                    <h5 th:text="${#strings.abbreviate(topEvent.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(topEvent.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(topEvent.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Last Events -->
                <div class="col-md-8 order-md-1">
                    <h2 class="pb-2">Zuletzt hinzugefügt</h2>

                    <!-- Filter for last Events -->
                    <select class="form-control" id="typeFilter" name="filter">
                        <option value="all">Alle</option>

                        <!-- "add_event.html fragment" -> model attributename must be "types" -->
                        <option th:replace="add_event.html :: typeOptions" value=""></option>
                    </select>

                    <!-- Container fragment for events -->
                    <div th:fragment="eventContainer" class="cardContainer lastEvents mt-4 mb-4">
                        <div th:each="event : ${events}" th:data-type="${event.type}" th:data-id="${event.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <th:block th:each="topEvent, itemStat : ${topEvents}">
                                        <h4 th:if="${topEvent.name == event.name}" th:text="'# ' + ${itemStat.index + 1}" class="text-danger"></h4>
                                    </th:block>
                                    <h5 th:text="${#strings.abbreviate(event.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(event.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:fragment="footer" class="footer d-none d-md-block">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Copyright Gruppe 3, All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
