<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Reference: https://getbootstrap.com/docs/4.0/examples/sticky-footer/ -->
        <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
        </style>

        <!-- jQuery, PopperJS and BootstrapJS include -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <title>Suche</title>
    </head>
    <body>

        <!-- Site Container -->
        <div class="container">

            <!-- Backbutton -->
            <div class="row pt-5 pb-5">
                <div class="col-10">
                    <button class="btn btn-link p-0" type="button"
                            onclick="location.href='/';">&larr; zurück zur Startseite
                    </button>
                </div>
                <div th:replace="home.html :: copyrightModal"></div>
            </div>


            <div class="row mb-4">
                <div class="col">
                    <h1 style="font-size:50px"
                        th:text="|&quot;${#request.getParameter('q')}&quot;|">Test</h1>
                </div>
            </div>

            <!-- Search results -->
            <div class="row mb-5">
                <div class="col-md">
                    <h2>Suche nach Namen</h2>

                    <!-- Container fragment for events -->
                    <div th:fragment="eventContainer" class="cardContainer mt-4 mb-4">
                        <div th:each="event : ${names}" th:data-type="${event.type}" th:data-id="${event.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5 th:text="${#strings.abbreviate(event.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(event.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <h2>Suche nach Orten</h2>

                    <!-- Container fragment for events -->
                    <div th:fragment="eventContainer" class="cardContainer mt-4 mb-4">
                        <div th:each="event : ${locations}" th:data-type="${event.type}" th:data-id="${event.name}" th:onclick="location.href='/event/'.concat(this.getAttribute('data-id'));" class="card bg-light mt-2 mb-2">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5 th:text="${#strings.abbreviate(event.name, 50)}">Name</h5>
                                </div>
                                <div class="card-text">
                                    <p th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">Datum</p>
                                    <p th:text="${#strings.abbreviate(event.description, 150)}">Beschreibung</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="home.html :: footer"></footer>
    </body>
</html>
